.panel_media {
    margin: 30px 0 0 50px;
    border-bottom: 1px solid #b4b4b4;
    position: relative;
    .wapper::after{
        content: '';
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
      }
    .menu {
      display: flex;
      align-items: center;
      h3{
        font-size: 1.4em;
        font-weight: 700;
        margin: 0;
      }
    }
    .content_media {
      margin-top: 20px;
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 20px;
      .media_videos {
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        list-style: none;
        margin-top: 0;
      &__list {
        padding: 0;
        height: 8px;
        
        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background-color: #cfcfcf;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
      }
    }
    }
    .tab_option_media {
      margin-left: 30px;
      box-shadow: none;
      .tab{
        font-weight: bold;
        font-size: 14px;
        color: #000;
      }
    }
    .view_more {
      .link {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
  