.special_pannel {
  border-bottom: 1px solid #bebebe;
  margin: -30px 0 0 50px;

  .menu {
    display: flex;
    align-items: center;
  }
  .tab_option {
    box-shadow: none;
    margin-left: 20px;
    .tab{
      font-weight: bold;
      font-size: 14px;
      color: #000
    }
    
  }
  .content_review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_inner {
      margin-top: 10px;
      border: 1px solid pink;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    }
    .profile {
      display: flex;
      align-items: center;
      padding: 15px;
      .avatar {
        border-radius: 50%;
        overflow: hidden;
      }
      .infor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
      }
    }
    .teaser {
      padding: 0px 10px 50px 89px;
      text-align: left;
      .content_teaser{
        margin-top: -30px;
      }
    }
    .rating {
      display: flex;
      height: 23px;
      margin-bottom: 4px;
      flex-wrap: nowrap;
      align-items: center;
      .rate {
        display: flex;
        align-items: center;
        background-color: #000;
        width: 50px;
        border-radius: 7px;
        justify-content: center;
        color: #fff;
        margin-left: 15px;
        height: 88%;
        svg {
          width: 10px;
        }
        span {
          font-size: 12px;
          margin-left: 5px;
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
  .content_discussions {
    .list_discuss {
      width: 100%;
      padding: 5px 10px;
      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 5px 10px;
        border: 1px solid #bababa;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
      }
      .post_infor {
        display: flex;
        align-items: center;
        .avatar {
          border-radius: 50%;
          overflow: hidden;
          img{
            padding-right: 10px;
          }
        }
      }
      .discuss_infor {
        width: 60%;
        .desc {
          margin-left: 20px;
        }
      }
      .discuss_date {
        text-align: right;
        font-size: 13px;
      }
    }
  }
  a {
    text-decoration: none;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
  }
  h5 {
    font-size: 14px;
    margin-top: -5px;
    font-weight: normal;
  }
}
