.panel_collection {
    margin-top: 30px;
    margin-left: 50px;
  
    .background {
      background-size: cover !important;
      background-position: 50% 50% !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 5px 25px;
      height: 300px;
      border-radius: 10px;
      color: #fff;
  
      .title {
        h3 {
          font-size: 1.9em;
          font-weight: 600;
          margin-bottom: 0;
        }
  
        h5 {
          font-size: 1.1em;
          color: #fff;
          margin-top: 0;
        }
  
        h3,
        h5 {
          text-align: left;
        }
      }
  
      button {
        margin-top: 20px;
        padding: 8px 15px;
        border-radius: 20px;
        outline: none;
        border: none;
        font-size: 1em;
        font-weight: 700;
        background-color: rgb(25, 25, 112);
        color: #fff;
  
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }