  
  .top_cast {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-left: 50px;
    position: relative;
    h3 {
      font-weight: 600;
      font-size: 1.4em;
      margin: 0 0 0 11px;
      font-weight: 600;
      font-size: 1.4em;
    }
    .list_cast {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      list-style: none;
      padding: 0 0 10px 0;
      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #cfcfcf;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
      }
      li {
        min-width: 137px;
        width: 140px;
      }
      .profile_cast {
        margin:10px 4px 10px 10px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #cecece;
        overflow: hidden;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        

        .image_topcast{
          width: 155px;
          height: 185px;
          display: block;
        }
         .title {
          font-weight: bold;
          padding: 5px 0 0 10px;
        }
        p {
          padding: 0 10px;
          margin: 0;
        }
        .character{
          font-size:0.9em;
          padding-bottom: 10px;

        }
        .image_null {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 68%;
        }
      }
      .view_more {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
        }
      }
    }
    .wapper::after{
      content: '';
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    }
    .view_full {
      text-decoration: none;
      text-align: left;
      color: #000;
      font-weight: 600;
      font-size: 1.1em;
      padding-bottom: 30px;
      border-bottom: 1px solid #bebebe;
    }
  }