.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

    .modalBanner {
        width: 1140px;
        height: 700px;
        top: 26px;
        left: 195px;
        position: fixed;
        z-index: 1000;

        .playTrailer {
            background-color: rgb(0, 0, 0);

            .title {
                height: 70px;
                width: 100%;
                display: flex;
                align-items: center;
                margin-left: 20px;
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                button {
                    margin-left: 87%;
                    margin-bottom: 30px;
                    font-weight: bold;
                    color: #ffffff;
                    background-color: rgb(0, 0, 0);

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
        }

        .trailerYoutube {
            iframe {
                width: 1140px;
                height: 630px;
                position: fixed;
                background-color: rgb(0, 0, 0);
                border: black;
            }
        }
    }
}