.footer {
    background-color: #032541;
    display: flex;
    justify-content: center;
    align-items: center;

    .footerNav {
        display: flex;
        justify-content: space-between;
        padding: 80px 0 80px 0;

        .footer_list_items,
        .footer_list {
            margin-right: 40px;
            font-weight: 500;
            color: #fff;
            font-size: 17px;

            .footer_list_img {
                width: 130px;
                height: 120px;
                margin: -40px 0 0 90px;
            }

            .title {
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 8px;
            }

            .footer_list_button {
                font-weight: bold;
                border-radius: 5px;
                color: violet;
                background-color: #fff;
                font-size: 18px;
                padding: 10px 16px;
                margin-top: 10px;

                &:hover {
                    cursor: pointer;
                    color: #ffffff;
                    background-color: violet;
                }
            }
        }
    }
}