.menu-top {
    .list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      list-style: none;
      margin-bottom: 1px;
      margin-top: 0px;
      position: relative;
      background-color: #fff;
      .item {
        margin-right: 30px;
        padding: 10px 5px;
        cursor: pointer;
        position: relative;
        .sub-menu {
          display: none;
          position: absolute;
          width: 150px;
          border: 0.5px solid #ccc;
          top: 35px;
          left: 0;
          border-radius: 5px;
          &_list {
            line-height: 28px;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 99;
            background-color: #fff;
          }
        }
        .sub_item {
            &:hover {
                background-color: pink;
            .title{
                &:hover {
                    background-color:pink;
                }
            }
            }
          display: flex;
          justify-content: space-between;
          width: 100%;
          position: relative;
          z-index: 99;
          .sub_item_title {
            padding-left: 10px;
          }
          .sub_item_icon {
            padding-right: 10px;
          }
          .sub_item_value {
            padding-right: 10px;
          }
          .item_mini_sub {
            display: none;
            position: absolute;
            z-index: 100;
            left: 150px;
            top: 0;
            width: 180px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            .item_mini_sub__list {
              display: flex;
              flex-direction: column;
              align-content: space-around;
              justify-content: center;
              align-items: flex-start;
              list-style: none;
              padding-left: 13px;
              li {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;
                    &:hover {
                        background-color: pink;
                    }
              }
            }
          }
          &:hover {
            .item_mini_sub {
                display: block;
            }
          }
        }
      }
      .overview {
          border-bottom: 4px solid violet;
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
      .media {
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
      .fandom {
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
      .share {
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }
  