.mainBanner {
    color: #fff;
}

.banner {
    border-bottom: 1px solid var(--primaryColor);
    background-position: right -200px top;
    background-size: cover;
}

.banner_header {
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 150px,
            rgba(31.5, 31.5, 31.5, 0.84) 100%);
}

.banner_header_content {
    padding: 30px 0;
}

.poster_img {
    position: relative;
    height: 450px;
}
.poster img {
    border-radius: 10px 10px 0 0;
}

.expand {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    font-size: 20px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.788);
    transition: linear 0.2s;
    backdrop-filter: blur(20px);
    color: #fff;
}

.poster_img:hover .expand {
    display: flex;
    justify-content:center;
    align-items: center;
}

.content {
    display: flex;
    padding: 0 40px 0 100px;
    /* ? top right bottom left */
}

.open {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #032541;
    border-radius: 0 0 10px 10px;
}

.open img {
    width: 37px;
    height: 37px;
    margin: 10px;
    border-radius: 5px;
}

.lists_text {
    opacity: 0.8;
}

.bannerRight {
    display: flex;
}

.header_poster {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-left: 40px;
}

.title {
    margin-bottom: 24px;
}

h1 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: -10px;
}

h2 {
    width: 100%;
    margin: 0;
    font-size: 2.1rem;

}

.title_days {
    opacity: 0.8;
    font-weight: 300;
}

.facts1 {
    display: inline-flex;
    padding: 2px 4px 3px;
    border: 1px solid #ffffff99;
    color: #ffffff99;
    line-height: 1;
    border-radius: 3px;
    margin-right: 7px;
}

.facts2 {
    padding-left: 0;
}

.facts3,
.facts4 {
    padding-left: 5px;
}

.iconsCircle {
    font-size: 4px;
    margin: 0 5px 3px 0;
}

.icons {
    font-size: 10px;
}

.actions {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.items3:hover, .items4:hover, .items5:hover, .items51:hover{
    cursor: pointer;
}
.items3:hover .popover_item, .items4:hover .popover_item_heart,
.items5:hover .popover_item_bookmark, .items51:hover .popover_item_star{
    display: block;
}
.popover_item_heart, .popover_item, .popover_item_bookmark, .popover_item_star {
    display: none;
    font-size: 16px;
    padding: 5px 7px;
    bottom: -29px;
    position: absolute;
    background-color: #032541;
    border-radius: 5px;
    z-index: 100;
  }
 .popover_item_heart:before ,  .popover_item::before, .popover_item_bookmark::before, .popover_item_star::before{
      content: " ";
      position: absolute;
      top: -16px;
      right: 128px;
      border: solid transparent;
      border-width: 8px;
      border-bottom-color: #032541;
  }
  .popover_item_heart:before{
    top: -16px;
    right: 149px;
  }
  .popover_item_bookmark::before{
    top: -16px;
    right: 141px;
  }
  .popover_item_star::before{
    top: -16px;
    right: 81px;
  }

.items1 {
    bottom: -15px;
    left: 10px;
    width: 50px;
    height: 50px;
    border: 5px solid yellowgreen;
    background-color: #00131c;
    border-radius: 50%;
    transition: transform .2s;
}

.items1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.percent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 23px;
    font-weight: bold;
}

.icons {
    font-size: 11px;
    padding-bottom: 3px;
}

.items2 {
    font-weight: 700;
    margin-left: 6px;
    white-space: pre-line;
    width: 10px;
}

.items3 {
    margin-left: 50px;
}

.items3,
.items4,
.items5,
.items51 {
    background: #032541;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.items4,
.items5,
.items51,
.items6 {
    margin-left: 20px;
}

.items6 {
    font-weight: bold;
}

.items6:hover {
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

.challenge {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
}

.overview {
    word-wrap: break-word;
    width: 95%;
}

.overview p {
    word-wrap: none;
    width: 95%;
}

.people {
    flex-wrap: wrap;
}

ol.people {
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 50px;
}

.people li {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin: 10px 0;
}

ol.people li p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 0;
}

ol.people li p a {
    font-weight: bold;
    font-size: 16px;
}

.iconfaPlay {
    padding-right: 10px;
}