.content_right {
    padding: 10px 25px; 
    a {
      text-decoration: none;
      color: #000;
    }
    h4 {
      text-align: left;
      font-size: 1em;
      margin-bottom: -10px;
    }
    p {
      text-align: left;
    }
    .content_network{
      display: flex;
      justify-content: flex-start;
      .icons{
        font-size: 1.7rem;
        padding-right:20px;
      }
    }
    .content_infor {
      margin-top: 20px;
      text-align: left;
      font-size: 14px;
    }
    .content_keywords {
      padding-bottom: 20px;
      border-bottom: 1px solid #dadada;
      width: 250px;
      .list_keywords{
        display: flex;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        li {
          border-radius: 5px;
          margin-right: 5px;
          font-size: 0.9em;
          background-color: #dadada;
          border: 1px solid #d7d7d7;
          color: #000;
          padding: 4px 10px;
          margin-bottom: 5px;
        }
      }
    }
    .content_score {
      margin-top: 20px;
      .content {
        padding: 15px 55px 0 0;
        .score {
          background-color: #282828;
          color: #fff;
          text-align: left;
          padding: 5px 15px;
          border-radius: 5px;
        }
        p {
          text-align: left;
          margin: 2px;
          font-size: 13px;
        }
      }
    }
    .top_contributor {
      margin-top: 20px;
      .leader {
        display: flex;
        height: 40px;
        margin-top: 20px;
        .avatar {
          border-radius: 50%;
          overflow: hidden;
        }
        .info {
          margin-left: 7px;
          display: flex;
          align-items: center;
        }
        p {
          text-align: left;
          margin: 0;
          line-height: 17px;
          font-size: 14px;
          font-weight: bold;
          a{
            font-weight: normal;
          }
        }
      }
    }
    .button_login {
      margin-top: 30px;
      margin-right: 150px;
      .login_btn {
        font-weight: bold;
        background-color: #282828; 
        color: white;
        padding: 6px 20px;
        display: flex;
        width: 100%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #000;
          color:white
        }
      }
    }
    .popup_keybord {
      margin-top: 30px;
      text-align: left;
      opacity: 0.5;
    }
  }
  