#panel-recommen {
    margin: 25px 0 0 50px;
    position: relative;
    .wapper::after{
      content: '';
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    }
    .recommen_scroll {
      .recommen_scroll_list {
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-x: scroll;
        list-style: none;
        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background-color: #cfcfcf;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar {
          height: 8px;
          width: 8px;
        }
      }
      .recommen_scroll_movie {
        margin-right: 20px;
        .image_content {
          img {
            border-radius: 10px;
          }
          a {
            position: relative;
          }
          .movie_date {
            display: none;
            position: absolute;
            overflow: hidden;
            top: -23px;
            background-color: #dadada;
            width: 100%;
            height: 40px;
            border-radius: 0 0 10px 10px;
            padding: 0px;
            font-size: 14px;
          }
          &:hover {
            .movie_date {
              display: flex;
              align-items: center;
            }
          }
        }
        .movie_title {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    a {
      text-decoration: none;
      color: #000;
    }
    h3 {
      font-size: 1.3em;
      font-weight: 700;
      margin: 0;
      text-align: left;
      margin: 20px 0px;
    }
    ul {
      padding: 0;
    }
  }
  